<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-8 mt-md-0 mt-3">

          <!-- Content -->
          <h5>About</h5>
          <p>Open source repos is a open source project to make the developers understand the codebase and architecture of the open source projecs. <a href="/app/about" target="_blank">Read more</a></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-none d-sm-none d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <div class="d-flex flex-column justify-content-end justify-content-md-center">
          <!-- Links -->
          <h5>Social</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/opensourcerepos" target="_blank"><img height="16" width="20" class="mr-1" src="/images/github.svg" alt="github repo">OpenSourceRepos</a>
            </li>
            <li>
              <a href="https://twitter.com/OpenSourceRepos" target="_blank"><img height="16" width="20" class="mr-1" src="/images/twitter.svg" alt="twitter handle">OpenSourceRepos</a>
            </li>
          </ul>
        </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
