<div class="d-flex d-flex-column project-action-buttons">
  <a target="_blank" role="button" class="btn btn-warning mb-3" style="width: 150px;" data-testid="preview-blog" id="preview-blog" href="#">Preview</a>
  <button class="btn btn-primary" data-testid="publish-blog" onclick="submitForm('published')">Publish</button>
</div>
